* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  padding: 10px;
  gap: 10px;
}
.navbar {
  width: 20%;
  height: 100%;
  background-color: #202020;
  box-shadow: 0 0 5px #ffbb10ff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}
.navbar-logo > h1 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1px;
}
.navbar-logo > p {
  color: #979797;
  font-size: 10px;
  font-weight: medium;
  text-align: center;
  margin-bottom: 10px;
}
.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.searchbox {
  width: 100%;
}
.searchbox > form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.searchbox > form > input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 60%;
}
.searchbox > form > input::placeholder {
  color: #979797;
}
.searchbox > form > button {
  border: 1px solid #ffbb10ff;
  border-radius: 5px;
  padding: 10px;
  color: #303030;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
}
.searchbox > form > button:hover {
  background-color: #ffbb10ff;
  color: #fff;
}
.searchbox-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.searchbox-results > p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.filterbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.filterbox > form > label {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.filterlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 5px;
} 
.filterlist > form > label {
  color: #000;
  font-weight: bold;
  padding: 10px;
}

.hero {
  width: 80%;
  height: 100%;
  background-color: #202020;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.hero > .hero-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.hero > .hero-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  margin-top: 10px;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

/* media query iphone */
@media screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
}

/* media query ipad */
@media screen and (max-width: 1024px) {
  .landing-page {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
}