* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing-page {
  width: 100%;
  height: 100%;
  display: flex;
}
.navbar {
  width: 25%;
  max-height: 100vh;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 30px;
}
.navbar-logo > h1 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1px;
}
.navbar-logo > p {
  color: #ffbb10ff;
  font-size: 10px;
  font-weight: medium;
  text-align: center;
  margin-bottom: 10px;
}
.navbar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.searchbox {
  width: 100%;
}
.searchbox > form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbox > form > input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 100%;
}
.searchbox > form > input::placeholder {
  color: #979797;
}
.searchbox-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.searchbox-results > p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.filterbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.filterbox > form > label {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.filterlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 5px;
} 
.filterlist > form > label {
  color: #000;
  font-weight: bold;
  padding: 10px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.hero > .hero-logo > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 6/2;
  object-fit: contain;
  margin-top: -60px;
}
.card {
  width: 100%;
  margin-top: -50px;
  background-color: #202020;
  border-radius: 5px;
  border: 1px solid #ffbb10ff;
  padding: 10px;
}
.card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
.card-image > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.card-text > h1 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1px;
}
.card-text > h1 >span {
  color: #ffbb10ff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 5px;
}
.card-text > h3 {
  color: #dddddd;
  font-size: 14px;
  font-weight: medium;
  margin-bottom: 1px;
}
.card-text > p {
  color: #979797;
  font-size: 14px;
  font-weight: medium;
}
.card-text > p > span {
  color: #ffbb10ff;
  font-size: 14px;
  font-weight: medium;
}

/* media query iphone */
@media screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
}

/* media query ipad */
@media screen and (max-width: 1024px) {
  .landing-page {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
}